nav {
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: #000000;
    color:#ffebcd
}

nav a:link {
    color:#d2b48c
}
nav a:visited {
    color: #82ddf0;
}
.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.index {
    background-image: url("images/bg.jpg");
    background-size: cover;
    color: #000000;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif

  }

.index p {
    text-align: center;
    width: 60%;
    background-color: #ffebcdb9;
    padding: 10px;
    margin: 10px;
    border-radius: 1em;
}

.title {
    display: flex;
    font-size: 2em;
    color: #ffebcd
}

.mainbuttons {
    display: flex;
    justify-content: center;
    margin: 20px;
}
.mainbuttons a {
    background-color: #ffebcd;
    padding: 30px;
    margin: 30px;
    border-radius: 1em;
    font-weight: bold;
}

.mainbuttons a:link {
    color: #000000;
}
.mainbuttons a:visited {
    color: #5296a5;
}