@media only screen and (min-width: 800px) {
    nav {
        display: flex;
        justify-content: center;
        padding: 10px;
        background-color: #000000;
    }   
}

@media only screen and (max-width: 800px) {
    nav {
        background-color: #000000;
        padding: 10px;
    }
    nav a {
        display: block;
        width: 100%;
        margin: 0.5em;
    }
    nav span {
        display: none;
    }
}

nav a {
    padding-left: 10px;
    padding-right: 10px;
}

nav a:link {
    color:#d2b48c
}
nav a:visited {
    color: #82ddf0;
}
nav a:hover {
    color: #faaf3e;
}

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.index {
    background-image: url("images/bg.jpg");
    background-size: cover;
    color: #000000;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif

  }

.index p {
    text-align: center;
    line-height: 1.3em;
    width: 60%;
    background-color: #ffebcdb9;
    padding: 20px;
    margin: 10px;
    border-radius: 1em;
}

.introline {
    width: 30%;
    background-color: #5296a5;
}

.title {
    display: flex;
    justify-content: center;
    font-size: 2em;
    color: #ffebcd
}

.mainbuttons {
    display: flex;
    justify-content: center;
    margin: 20px;
}
.mainbuttons a {
    background-color: #ffebcd;
    padding: 30px;
    margin: 30px;
    border-radius: 1em;
    font-weight: bold;
}

.mainbuttons a:link {
    color: #000000;
}
.mainbuttons a:visited {
    color: #5296a5;
}

.mainpages {
    background-color: #fcd7ad;
}

.maintitle {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 3em;
    color: 	#a57548;
}

.description {
    width: 60%;
    margin: 0 auto;
    text-align: center;
}

.restaurants {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 30px;
    padding: 30px;
}

.restaurants .item {
    width: 30%;
    margin: 0 auto;
    text-align: center;
}

.restaurants .item a:visited {
    color: #a57548;
}

.restaurants .item a:link {
    color: #5296a5;
}

.contacttitle {
    text-align: center;
    font-size: 3em;
    color: 	#a57548;
}

.contactbody {
    background-color: #fcd7ad;
}

.flex {
    display: flex
}

.flex1 {
    flex: 1;
    margin: 30px;
    padding: 20px;
}
.flex2 {
    flex: 1;
    margin: 50px;
    padding: 20px;
}

form input {
    padding: 10px;
    margin: 5px;
    border:0;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    border-radius: 1em;
}

form textarea {
    padding: 10px;
    margin: 5px;
    border:0;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    border-radius: 1em;
}

.submit {
    color:#5296a5;
}

.mainpages, .contactbody {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

