@media only screen and (min-width: 1000px) {
    nav {
        display: flex;
        justify-content: center;
        padding: 20px;
        background-color: #000000;
        color: #ffebcd;
    }   
}

@media only screen and (max-width: 1000px) {
    nav {
        background-color: #000000;
        padding: 10px;
    }
    nav a {
        display: block;
        width: 100%;
        margin: 0.5em;
    }
    nav span {
        display: none;
    }
}

nav a {
    padding-left: 10px;
    padding-right: 10px;
}

nav a:link {
    color:#82ddf0
}
nav a:visited {
    color: #82ddf0;
}
nav a:hover {
    color: #faaf3e;
}

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.index {
    background-image: url("images/bg.jpg");
    background-size: cover;
    color: #000000;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif

  }

.index p {
    text-align: center;
    line-height: 1.3em;
    width: 60%;
    background-color: #ffebcdb9;
    padding: 20px;
    margin: 10px;
    border-radius: 1em;
}

.introline {
    width: 30%;
    background-color: #5296a5;
}

.title {
    display: flex;
    justify-content: center;
    font-size: 2.5em;
    color: #ffebcd;
    text-shadow: -1px 0 black, 0 2px black, 2px 0 black, 0 -1px black;
    font-family: 'Bungee Shade', cursive;
}

.mainbuttons {
    display: flex;
    justify-content: center;
    margin: 20px;
}
.mainbuttons a {
    background-color: #ffebcd;
    padding: 30px;
    margin: 30px;
    border-radius: 1em;
    font-weight: bold;
    font-family: 'Bungee', cursive;
}

.mainbuttons a:link {
    color: #000000;
}
.mainbuttons a:visited {
    color: #5296a5;
}
.mainbuttons a:hover {
    color: #faaf3e; 
}

.mainpages {
    background-color: #fcd7ad;
}

.maintitle {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 3em;
    color: 	#88613c;
    font-family: 'Bungee Shade', cursive;
}

.description {
    width: 60%;
    margin: 0 auto;
    text-align: center;
}

.restaurants {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 30px;
    padding: 30px;
}

.restaurants .item {
    padding: 10px;
    text-align: center;
} 

.restaurants .name {
    font-family: 'Bungee', cursive;
}

.restaurants .item a:visited {
    color: #6e4e30;
}

.restaurants .item a:link {
    color: #215763;
}

.restaurants .item a:hover {
    background-color: #faaf3e;
}

.contacttitle {
    text-align: center;
    font-size: 3em;
    color: 	#88613c;
    font-family: 'Bungee Shade', cursive;
}

.contactbody {
    background-color: #fcd7ad;
}

@media only screen and (min-width: 1000px) {
    .flex {
        display: flex
    }

    .flex1 {
        flex: 1;
        margin: 30px;
        padding: 20px;
    }
    .flex2 {
        flex: 1;
        margin: 50px;
        padding: 20px;
    }
}

@media only screen and (max-width: 1000px) {
    .flex {
        display: block;
    }    
    .flex1 {
        margin: 30px;
        padding: 20px;
    }
    .flex2 {
        margin: 50px;
        padding: 20px;
    }
}

form input {
    padding: 10px;
    margin: 5px;
    border:0;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    border-radius: 1em;
}

form textarea {
    padding: 10px;
    margin: 5px;
    border:0;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    border-radius: 1em;
}

.submit {
    color:#5296a5;
}

.mainpages, .contactbody {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

img {
    width: 200px; /* width of container */
    height: 200px; /* height of container */
    object-fit: cover;
    border: 1px solid black;
}

#modal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200px;
    height: 73px;
    padding: 20px;
    margin-top: -120px;
    margin-left: -120px;
    color: #ffffff;
    background-color: #5296a5;
    text-align: center;
    box-shadow: 0px 0px 0px 100vw rgba(0, 0, 0, 0.6);
    display: none;
}
#closemodal {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
}

.submit {
    font-family: 'Bungee', cursive;
    cursor: pointer;
}
.submit:hover {
    color: #faaf3e;
}

#skip { 
    position: absolute; 
    left: -999px;
    background-color: #000000;
} 
#skip:focus {
    left: 10px; 
}